<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Legacy permissions for Android 6 to 10 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- "All Files Access" for Android 11+ -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />

    <!-- Package visibility for Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:name=".FileExplorerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileExplorer"
        tools:targetApi="31">

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.FileExplorer">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <activity
            android:name=".activities.FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <activity
            android:name=".activities.OtherAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <activity
            android:name=".activities.LegalActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <activity
            android:name=".activities.ItemInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.FileExplorer" />

        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Firebase Analytics -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
    </application>

</manifest>
